.contact-section {
  padding: 4rem 0;
  text-align: center;
}

.contact-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #DFD0B8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact-section p {
  color: #948979
}

.contact-section h4 {
  color: #DFD0B8
}

.social-icons {
  animation: fadeIn 1s ease-out;
  color: #DFD0B8;
  gap: 1.5rem;
  margin-top: 1rem;
  transition: all 0.3s ease;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-icons a:hover {
  color: #DFD0B8;
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 10px 20px #DFD0B8;
}

.form-dark {
  color: #DFD0B8;
  border: 1px solid #444;
}

.form-dark input,
.form-dark textarea {
  background-color: transparent;
  color: #DFD0B8;
  border: 1px solid #DFD0B8;
}

.form-dark input:focus,
.form-dark textarea:focus {
  border-color: #DFD0B8;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
  background-color: transparent;
  color: white;
}

.form-dark input::placeholder,
.form-dark textarea::placeholder {
  color: #DFD0B8;
}

.btn-outline-light i {
  transition: transform 0.3s;
}

.btn-outline-light:hover i {
  transform: scale(1.2);
}

.submitToast {
  color: black;
}

.downloadCv {
  color: #DFD0B8;
}

@media (max-width: 768px) {
  .contact-section {
    padding: 2rem 1rem;
  }

  .social-icons {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .btn-outline-light {
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
  }

  .form-dark {
    padding: 1rem;
  }

  .contact-section h2 {
    font-size: 2rem;
  }
}
