.bg-dark {
    background-color: transparent !important; 
}

.bg-transparent {
    background-color: transparent !important;  
}

.navbar.navbar-dark.bg-transparent .nav-item.nav-link {
    color: white !important;
}

.navbar.navbar-dark.bg-transparent .nav-item.nav-link.disabled {
    color: rgba(255, 255, 255, 0.5) !important;
}

.nav-item.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: white;
    transition: all 0.3s ease;
}

.nav-item.nav-link {
    position: relative;
    padding-bottom: 8px;
}